# Auto detect text files and perform LF normalization
* text=auto

# JS files
*.js text
*.jsx text

# CSS files
*.css text
*.scss text

# HTML files
*.html text

# JSON files
*.json text

# Markdown files
*.md text

# Config files
*.env.example text
*.gitignore text
*.gitattributes text

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary 