# Dependencies
node_modules
client/node_modules

# Build
build
client/build

# Coverage
coverage
client/coverage

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads
uploads

# Git
.git
.gitignore
.gitattributes

# Editor
.vscode
.idea
*.swp
*.swo

# Test
__tests__
*.test.js
*.spec.js

# Config
.eslintrc.json
.prettierrc
.editorconfig
.npmrc
.npmignore
.prettierignore 